body {
  font-family: Menlo, Consolas, monospace;
  color: #eef0f2;
  background: #273a52;
  margin: 0px;
}
h2, h3 {
  margin-top: 1.2em;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #16a085;
}
ul {
  list-style: none;
}
ul {
  padding-left: 1.0em;
  line-height: 1.5em;
  list-style-type: dot;
}
label {
  font-size: 1.2em;
}
form input[type="submit"] {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 30px;
  background: #c0392b;
  border-style: none;
  color: #efefef;
}
form input[type="submit"]:hover {
  background: #ab3326;
}
form input[type="text"] {
  border:0;
  padding:10px;
  font-size:1.2em;
  color:#666;
  border:solid 1px #ccc;
  margin:0 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 10px;
  padding: 10px 20px;
  background: #efefef;
  font-size: 1.2em;
  color: #666;
  box-sizing: content-box;
}
header {
  height: 100%;
}
header a, header a:hover {
  color: #efefef;
}
.hidden {
  display: none;
}
.logo {
  padding: 10px 20px;
  width: 30px;
  font-size: 2.5em;
  font-weight: bold;
  background: #c0392b;
}
#container {
  padding: 30px;
}
.topic {
  text-align: center;
}
.topic h1 {
  font-size: 3.0em;
  font-weight: bold;
}
.topic p {
  font-size: 1.5em;
}
.content {
  text-align: center;
  margin-top: 100px;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.repo-name {
  width: 200px;
}
.repo-url {
  width: 400px;
}
.label {
  font-size: 1.2em;
  margin-right: 10px;
}
.sync-repo {
}
.sync-repo h2{
  display: inline-block;
  margin-right: 10px;
}
.sync-repo form {
  display: inline-block;
}
.status-repo {
  margin-top: 15px;
}
